<!DOCTYPE html>
<html lang="en">
   <!--Head-->
   <%- include('layouts/head') %>
    <body>
        <!-- Navigation-->
        <%- include('layouts/navbar') %>
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('assets/img/about-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>About </h1>
                            <span class="subheading">Everyone has somethings interesting and useful to share</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>Sharing whatever things you have with others and allowing the exchange or interface is key in growth, enlightenment and great experience.</p>
                        <p>Nilexia aims to become the epicenter where people share ideas, skills , knowledge, news and insights with one another.</p>
                        <p>This in turn enables faster and efficeint information transmission and hence the advance of society.</p>
                    </div>
                </div>
            </div>
        </main>
        <!-- Footer-->
        <%- include('layouts/footer') %>
        <!-- Bootstrap core JS-->
        <%- include('layouts/scripts') %>
    </body>
</html>
